doctype html
html
    head
        //include ../snippets/analytics.pug
        //include ../snippets/tagManagerHead.pug
        
        include ../snippets/metatags.pug
        
        block title
        
    body
        //include ../snippets/tagManagerBody.pug
        include ../shared/header.pug
        
        block content
        
        include ../shared/footer.pug
